/* Base Styling */
body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
  padding-top: 3rem; 
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  color: #6b90b7;
}

.container {
  max-width: calc(100% - 300px);
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-wrap: break-word;
  margin-left: 300px;
}

/* Typography */
h1, h2 {
  color: #333;
  margin-top: 0;
}

p {
  margin-bottom: 15px;
}

/* Navigation Container */
.nav-container {
  display: flex;
  justify-content: space-between; /* Buttons on left and right */
  margin: 20px 0;
}

/* Navigation Button Style */
.nav-button {
  background-color: #007BFF;
  color: #fff;
  padding: 6px 12px; /* Reduced size */
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 0.85em; /* Slightly smaller font */
  margin: 0 10px; /* Add some space between buttons */
  flex-basis: 20%; /* Fixed width for buttons */
}

.nav-button:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    padding: 15px;
    margin: 10px;
  }

  h1, h2 {
    font-size: 1.5em; 
  }

  .nav-button {
    padding: 5px 10px; 
    font-size: 0.8em;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
    margin: 10px;
  }

  h1, h2 {
    font-size: 1.2em; 
  }

  .nav-button {
    padding: 5px 8px; 
    font-size: 0.75em; 
    flex-basis: 45%; /* Buttons take up more width on small screens */
  }
}
